@import '../../../styles/mixins.scss';
.dropdown {
    &-container {
        padding: 15px;
    }
    &-list {
        @include --input-params;
        cursor: pointer;
        width: 50%;
        text-align: center;
        font-size: 18px;
    }
}