<article class="location">
    <h2 class="location-title">Location</h2>
    <section class="location-info">
        <div class="location-block">
            <label class="location-label" for="city">City:</label>
            <p class="location-name" id="city">{{ forecast.location.name }}</p>
        </div>
        <div class="location-block">
            <label class="location-label" for="region">Region:</label>
            <p class="location-name" id="region">{{ forecast.location.region }}</p>
        </div>
        <div class="location-block">
            <label class="location-label" for="country">Country:</label>
            <p class="location-name" id="country">{{ forecast.location.country }}</p>
        </div>
    </section>
</article>