<form class="city-form" [ngClass]="{open__form: visible}" [formGroup]="cityForm">
    <section class="city-form-header">
        <h2 class="city-title">Create City</h2>
        <mat-icon class="city-icon icon" (click)="closePopup()">close</mat-icon>
    </section>
    <section class="city-form-value">
        <label for="city-name" class="form-label">Name: </label>
        <input id="city-name" class="form-input" type="text" formControlName="name" required [(ngModel)]="city.name">
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger">
            <div *ngIf="name?.errors?.['required']">
                Name is required.
            </div>
        </div>
    </section>
    <button class="city-form-submit" (click)="sendForm()">Create City</button>
    <div *ngIf="name?.invalid && (name?.dirty || name?.touched) || checkErrors" class="alert-danger">
        Cannot send data, errors detected
    </div>
</form>
